CookBook/CookBook.DAL/Connected Services/AdvertServiceReference/AdvertService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdvertService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4002/AdvertService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4002/AdvertService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4002/AdvertService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdvertService.Models" />
      <xsd:import schemaLocation="http://localhost:4002/AdvertService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdvertContract_GetAdvertImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvertImages" />
  </wsdl:message>
  <wsdl:message name="IAdvertContract_GetAdvertImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdvertImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdvertContract_GetRandomImageIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomImageIds" />
  </wsdl:message>
  <wsdl:message name="IAdvertContract_GetRandomImageIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomImageIdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdvertContract">
    <wsdl:operation name="GetAdvertImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertContract/GetAdvertImages" message="tns:IAdvertContract_GetAdvertImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertContract/GetAdvertImagesResponse" message="tns:IAdvertContract_GetAdvertImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomImageIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdvertContract/GetRandomImageIds" message="tns:IAdvertContract_GetRandomImageIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdvertContract/GetRandomImageIdsResponse" message="tns:IAdvertContract_GetRandomImageIds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdvertContract" type="tns:IAdvertContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdvertImages">
      <soap:operation soapAction="http://tempuri.org/IAdvertContract/GetAdvertImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomImageIds">
      <soap:operation soapAction="http://tempuri.org/IAdvertContract/GetRandomImageIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdvertService">
    <wsdl:port name="BasicHttpBinding_IAdvertContract" binding="tns:BasicHttpBinding_IAdvertContract">
      <soap:address location="http://localhost:4002/AdvertService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>