CookBook/CookBook.DAL/Connected Services/AdvertServiceReference/AdvertService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4002/AdvertService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdvertService.Models" />
  <xs:import schemaLocation="http://localhost:4002/AdvertService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAdvertImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directoryPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdvertService.Models" minOccurs="0" name="GetAdvertImagesResult" nillable="true" type="q1:ArrayOfAdvertType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomImageIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directoryPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numberOfImages" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomImageIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRandomImageIdsResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>