CookBook/CookBook.DAL/Connected Services/AdvertServiceReference/AdvertService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdvertService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdvertService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdvertType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdvertType" nillable="true" type="tns:AdvertType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdvertType" nillable="true" type="tns:ArrayOfAdvertType" />
  <xs:complexType name="AdvertType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageByteArray" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdvertType" nillable="true" type="tns:AdvertType" />
</xs:schema>